/bai_5/nbproject/private/
/bai_5/build/
/demo/nbproject/private/
/demo/build/
/bai_10/nbproject/private/
/bai_10/build/
/Nhom7-Bai2/build/
/Nhom7-Bai2/nbproject/private/
/bai_11/nbproject/private/
/bai_11/build/
/bai_18-19-20/nbproject/private/
/bai_18-19-20/build/
/bai_21/nbproject/private/
/bai_21/build/
/bai_22/nbproject/private/
/bai_22/build/
/bai_23-24-25/nbproject/private/
/bai_23-24-25/build/
/da_thuc/nbproject/private/
/ma_tran/nbproject/private/